body {
    background: black;
    color: beige;
    font-family: 'Trebuchet MS', sans-serif;
    }

    .titulo {
        font-size: large;
        font-weight: 900;
        color:chartreuse;
        }

    .texto {
        font-size: small;
        font-weight:lighter;
        color: chocolate;
        font-family: 'Courier New', Courier, monospace;
        }